:root{
    --cell-width: 12.5vw;
    --cell-height: 15vh;
}


.cell{
    aspect-ratio: 1/1;
    width:100%;
    display:block;
    border: 2px black solid;
}
.hat{
    background-color:red;    
}

.grass{
    background-color: green;
}

.dirt{
    background-color: brown;
}

.hole{
    background-color:black;
}

.player{
    background-image: url('/assets/Player.png');
}

