* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;

}

main {
    flex-direction: column;
    gap: 2rem;
}

header {

    flex-direction: column;
    gap: 1.5vh;
}

article {
    flex-direction: flex;
    align-items: center;
    justify-content: center;
}

ul,
li {
    list-style: none;
}

#counters {
    margin-top: 2rem;
}

/* game-board columns and rows will be changed from main.js*/
#game-board {
    width: 45vw;
    height: auto;
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);

    margin: 0 auto;

}
